{% extends 'base.html' %}

{% block content %}

{% include "nav.html" %}

<div id="about" class="top-pad side-margin">
    <h1 class="element-title">About</h1>

    <div class="row corner-r">

        <div class="info col-md-6 col-sm-12">
            <h3>Philosophy</h3>
            <p class="p-padding">
                How would you define your foodie self?
                Meat eater, vegan/vegetarian, plant based or paleo - list goes on but does it really matter?
                What matters is that you find an eating plan that allows you to thrive, have bundles of energy,
                maintain a healthy body weight and feel happy most of the time.
                I like to embrace an individual’s own personal food preference and belief systems.
                My focus is on foods that are mostly gluten free, lower in carbohydrates, friendly on your gut and keep you happy.
            </p>
        </div>
        <div class="div-img about-img-1 col-md-6 col-sm-12 border-shadow corner-r">

        </div>

        <div class="div-img about-img-2 col-md-6 col-sm-12 border-shadow corner-r">

        </div>
        <div class="info col-md-6 col-sm-12">
            <h3>Who am I ?</h3>
            <p class="p-padding">
                I have a particular interest in weight loss and have worked in this speciality for over 10 years.
                My goal is to help you find the eating plan that is perfect for you, your body and your mind.
                I am a Nutrition Consultant, Mum, Jogger & yoga lover.
                I love all things food and am passionate about eating plans that will empower you to be the best version of yourself.
                This passion came from personal experiences that inspired me to study nutrition and gain answers to question about food and its impact on the body.
            </p>
        </div>

        <div class="info col-md-6 col-sm-12">
            <h3>Whats my Goal?</h3>
            <p class="p-padding">
                Through Food Freedom I hope to share new recipes that I have created with the specific goal to nourish your body.
                With a particular interest in weight loss I hope to connect with you if you need guidance to achieve your own goals.
                If you would like to read about my weight loss approach and programs have a look in the weight loss section.
                The recipes that I share with you are ones I have personally developed.
                They are based on the philosophy of eating real food, reducing inflammatory foods and nourishing your gut.
                I love to reinvent the basics so that you can incorporate the recipes into your everyday life.
                Diversity is the key to wellness so I hope to encourage you to try ingredients that you don’t normally use.
                I hope to inspire you to achieve your goals and create a love of food that can last you a lifetime.
            </p>
        </div>
        <div class="div-img about-img-3 col-md-6 col-sm-12 border-shadow corner-r">

        </div>

    </div>

</div>

{% endblock %}