<!-- NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-light side-margin">
    <a class="navbar-brand" href="{{ url_for('home') }}"><h1 class="dark-hover">Food Freedom</h1></a>

    <div class="nav-menu">

        <a class="nav-item nav-link" href="{{ url_for('weight_loss') }}"><h3 class="dark-hover">Weight Loss</h3></a>
        <a class="nav-item nav-link" href="{{ url_for('recipes') }}"><h3 class="dark-hover">Recipes</h3></a>
        <a class="nav-item nav-link" href="{{ url_for('about') }}"><h3 class="dark-hover">About</h3></a>
        <a class="nav-item nav-link sr-nav" href="{{ url_for('contact') }}"><h3 class="dark-hover">Contact</h3></a>

    </div>
</nav>

<div class="socials">
    <a class="no-a-styles" target="_blank" href="https://www.instagram.com/foodfreedom_karen/">
        <div class="instagram border-shadow corner-r">
            <i class="fa-brands fa-instagram fa-xl"></i>
            <p class="tag">@foodfreedomkaren</p>
        </div>
    </a>
    <a class="no-a-styles" target="_blank" href="facebook.com/foodfreedomkaren/">
        <div class="facebook border-shadow corner-r">
            <i class="fa-brands fa-facebook-f fa-xl"></i>
            <p class="tag">@foodfreedomkaren</p>
        </div>
    </a>
</div>


<h1 class="logo-side">Freedom</h1>